<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <environment include="Development">
        <link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/all.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" asp-href-include="css/all.min.css"/>
    </environment>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">

            @*"asp-append-version" enables cache-busting:
                A cache-busting string is a unique value representing the hash of the static image file appended to the asset's URL.
                The unique string prompts clients (and some proxies) to reload the image from the host web server and not from the client's cache.
                So this additional attribute helps us to tell the browser to always use updated content whether it is for CSS, JS or any Image file.
            *@

            <img asp-append-version="true" alt="Logo" src="~/img/Globo_logo.png" style="max-width: 100%" />
        </div>
        <div class="col-md-10 titlecol">
            <span class="title">@ViewBag.Title</span>           
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()    
        </div>
    </div>
</div>
</body>
</html>