<div class="row">
<div class="col-md-10 offset-md-2">

    <table class="table">
        <tr>
            <td>Name</td>
            <td>Is Persistent</td>
        </tr>
        @Html.DisplayForModel()
    </table>
</div>
</div>